# Исследование опроса клиентов телекомунникационной компании

In [1]:
import os
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db_local = 'C:\\Users\\Olga\\Desktop\\YP\\Tableau\project2\\telecomm_csi.db'
path_to_db_platform = '/datasets/telecomm_csi.db'
path_to_db = None

if os.path.exists(path_to_db_local):
    path_to_db = path_to_db_local
elif os.path.exists(path_to_db_platform):
    path_to_db = path_to_db_platform
else:
    raise Exception('Файл с базой данных SQLite не найден!')

if path_to_db:
    engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

In [1]:
query = """
        SELECT U.user_id, 
            U.lt_day, 
                CASE 
                    WHEN U.lt_day<= 365 THEN 'да'
                    ELSE 'нет'
                END AS is_new, 
            U.age, 
            CAST (U.gender_segment AS varchar) AS gender_segment, 
            U.os_name, 
            U.cpe_type_name,
            L.country, 
            L.city, 
            SUBSTR (A.title, 4, 8) AS age_segment, 
            SUBSTR (T.title, 4, 9) AS traffic_segment, 
            SUBSTR (LF.title, 4, 9) AS lifetime_segment, 
            U.nps_score,
                CASE 
                    WHEN U.nps_score>=9 THEN 'cторонники'
                    WHEN U.nps_score>=7 THEN 'нейтралы'
                    ELSE 'критики'
                END AS nps_group
        FROM user U
        INNER JOIN  location L ON U.location_id=L.location_id
        INNER JOIN age_segment A ON U.age_gr_id=A.age_gr_id
        INNER JOIN traffic_segment T ON U.tr_gr_id=T.tr_gr_id
        INNER JOIN lifetime_segment LF ON U.lt_gr_id=LF.lt_gr_id
"""

In [5]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,нет,45.0,1.0,ANDROID,SMARTPHONE,Россия,Уфа,45-54,1-5,36+,10,cторонники
1,A001WF,2344,нет,53.0,0.0,ANDROID,SMARTPHONE,Россия,Киров,45-54,1-5,36+,10,cторонники
2,A003Q7,467,нет,57.0,0.0,ANDROID,SMARTPHONE,Россия,Москва,55-64,20-25,13-24,10,cторонники

In [6]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502493 entries, 0 to 502492
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           502493 non-null  object
 1   lt_day            502493 non-null  int64
 2   is_new            502493 non-null  object
 3   age               501939 non-null  float64
 4   gender_segment    501192 non-null  object
 5   os_name           502493 non-null  object
 6   cpe_type_name     502493 non-null  object
 7   country           502493 non-null  object
 8   city              502493 non-null  object
 9   age_segment       502493 non-null  object
 10  traffic_segment   502493 non-null  object
 11  lifetime_segment  502493 non-null  object
 12  nps_score         502493 non-null  int64
 13  nps_group         502493 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 53.7+ MB

In [8]:
df['gender_segment'].unique()

array(['1.0', '0.0', None], dtype=object)

In [9]:
df['os_name'].unique()

array(['ANDROID', 'IOS', 'OTHER', 'unknown', 'PROPRIETARY',
       'WINDOWS PHONE', 'SYMBIAN OS', 'BADA OS', 'WINDOWS MOBILE'],
      dtype=object)

In [10]:
df['cpe_type_name'].unique()

array(['SMARTPHONE', 'TABLET', 'MOBILE PHONE/FEATURE PHONE', 'PHONE',
       'ROUTER', 'MODEM', 'WLAN ROUTER', 'USB MODEM', 'unknown',
       'PORTABLE(INCLUDE PDA)', 'NETWORK DEVICE', 'MIFI ROUTER',
       'MOBILE TEST PLATFORM', 'HANDHELD'], dtype=object)

In [11]:
df['country'].unique()

array(['Россия'], dtype=object)

In [12]:
df['city'].unique()

array(['Уфа', 'Киров', 'Москва', 'РостовнаДону', 'Рязань', 'Омск',
       'СанктПетербург', 'Волгоград', 'Тольятти', 'Казань', 'Самара',
       'Красноярск', 'Екатеринбург', 'Калуга', 'Краснодар', 'Иркутск',
       'Пермь', 'Владимир', 'Ижевск', 'Тюмень', 'Оренбург',
       'НижнийНовгород', 'Брянск', 'Челябинск', 'Астрахань', 'Сургут',
       'Тверь', 'Новосибирск', 'НабережныеЧелны', 'Махачкала', 'Воронеж',
       'Курск', 'Владивосток', 'Балашиха', 'Пенза', 'Калининград', 'Тула',
       'Саратов', 'Кемерово', 'Белгород', 'Барнаул', 'Чебоксары',
       'Архангельск', 'Томск', 'Ярославль', 'Ульяновск', 'Хабаровск',
       'Грозный', 'Ставрополь', 'Липецк', 'Новокузнецк', 'Якутск',
       'УланУдэ', 'Сочи', 'Иваново', 'НижнийТагил', 'Смоленск',
       'Волжский', 'Магнитогорск', 'Чита', 'Череповец', 'Саранск'],
      dtype=object)

In [13]:
df['age_segment'].unique()

array(['45-54', '55-64', '35-44', '16-24', '25-34', '66 +', 'до 16',
       'n/a'], dtype=object)

In [14]:
df['traffic_segment'].unique()

array(['1-5', '20-25', '0.1-1', '5-10', '10-15', '45-50', '15-20',
       '25-30', '40-45', '75-80', '50-55', '85-90', '60-65', '70-75',
       '30-35', '80-85', '100+', '35-40', '55-60', '90-95', '65-70',
       '0.01-0.1', '95-100', '0-0.01', '0'], dtype=object)

In [15]:
df['lifetime_segment'].unique()

array(['36+', '13-24', '7-12', '4-6', '25-36', '2', '3', '1'],
      dtype=object)

In [16]:
df['nps_score'].unique()

array([10,  6,  9,  2,  5,  8,  1,  4,  7,  3])

In [17]:
df.describe()

              lt_day            age      nps_score
count  502493.000000  501939.000000  502493.000000
mean     1868.841439      39.621946       7.508562
std      1683.701762      11.188249       3.020378
min       -21.000000      10.000000       1.000000
25%       533.000000      31.000000       5.000000
50%      1239.000000      38.000000       9.000000
75%      3064.000000      47.000000      10.000000
max      9162.000000      89.000000      10.000000

Ссылка на дашборд: https://public.tableau.com/app/profile/olga5799/viz/NPS_dashbord_/sheet0?publish=yes

Презентация(Story): https://public.tableau.com/app/profile/olga5799/viz/NPS_story/Story?publish=yes